@import "../../styles/mixin.module";
@import "../../styles/variable.module";

@mixin chip-base-styles() {
  @include size();
  @include padding(1rem, 2rem, 1rem, 2rem);
  @include border-radius(8px);
}

.chip-checkbox {
  @include chip-base-styles();

  &__block {
    &--default {
      color: map-get(map-get($chip-checkbox, default), color);
      background-color: map-get(map-get($chip-checkbox, default), background-color);
      border: map-get(map-get($chip-checkbox, default), border);

      &:hover {
        color: map-get(map-get($chip-checkbox, hover), color);
        background-color: map-get(map-get($chip-checkbox, hover), background-color);
        border: map-get(map-get($chip-checkbox, hover), border);
      }

      &:focus {
        color: map-get(map-get($chip-checkbox, selected), color);
        background-color: map-get(map-get($chip-checkbox, selected), background-color);
        border: map-get(map-get($chip-checkbox, selected), border);
      }

      &:disabled {
        color: map-get(map-get($chip-checkbox, disabled), color);
        background-color: map-get(map-get($chip-checkbox, disabled), background-color);
        border: map-get(map-get($chip-checkbox, disabled), border);
      }
    }
  }
}

.chip-radio {
  @include chip-base-styles();

  &__block {
    &--default {
      color: map-get(map-get($chip-radio, default), color);
      background-color: map-get(map-get($chip-radio, default), background-color);
      border: map-get(map-get($chip-radio, default), border);

      &:hover {
        color: map-get(map-get($chip-radio, hover), color);
        background-color: map-get(map-get($chip-radio, hover), background-color);
        border: map-get(map-get($chip-radio, hover), border);
      }

      &:focus {
        color: map-get(map-get($chip-radio, selected), color);
        background-color: map-get(map-get($chip-radio, selected), background-color);
        border: map-get(map-get($chip-radio, selected), border);
      }

      &:disabled {
        color: map-get(map-get($chip-radio, disabled), color);
        background-color: map-get(map-get($chip-radio, disabled), background-color);
        border: map-get(map-get($chip-radio, disabled), border);
      }

      /* Cacher le bouton radio natif */
    /*   input[type="radio"] {
        position: absolute;
        opacity: 0;

       
      } */
    }
  }
}

.checked {
    &.chip-checkbox__block--default {
      color: map-get(map-get($chip-checkbox, selected), color);
      background-color: map-get(map-get($chip-checkbox, selected), background-color);
      border: map-get(map-get($chip-checkbox, selected), border);
    }
  
    &.chip-radio__block--default {
        color: map-get(map-get($chip-radio, selected), color);
        background-color: map-get(map-get($chip-radio, selected), background-color);
        border: map-get(map-get($chip-radio, selected), border);
      }
}
